@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


h1, h2,h3,h4,p{
     font-family: "Pacifico", cursive;
       font-weight: 400;
  font-style: normal;
}

nav li{
    color: white;
}
nav,ul{
    display: flex;
    justify-content: space-between;
    gap: 15px;
     
}
.logo{
    display: flex;
    justify-content: flex-start;
}
.presentation{
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 50%;
}

.competence-container{
   display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
}

.avantages-clients{
    width: 400px;
    height: 300px;
}


.avantages-clients img{
    width: 200px;
    height: auto;
}
section h2{
    display: flex;
    justify-content: center;
}
.eclair{
    width:100px;
    height: auto;
}
.dernieres-realisations{
    width: 400px;
}

    .Plat{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }
.etoiles{
    height: auto;
    width: 200px;
}

.david{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;

}
.visage{
    height: 50px;
}
.bouton{
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    height: 60px;
    width: 160px;
    color: white;
    white-space: nowrap;
}
.dernieres-realisations img{
height: 200px;
width: 300px;
}
.navigation{
    font-size: 20px;
    list-style: none;
}
.avantages-clients img{
 height: 200px;
width: 300px;
}
body{
  background-color: rgba(139, 69, 19, 0.5);
}
.dernieres-realisations{
  border: 2px solid black; 
  border-radius: 10px;      
  padding: 16px;             
  background-color: rgba(139, 69, 19, 0.5);   
}

.avis{
  border: 2px solid black; 
  border-radius: 10px;       
  padding: 16px;             
  background-color: white;    
}
.fin{
    
  border: 2px solid black;
  border-radius: 10px;       
  padding: 16px;             
  background-color: rgba(139, 69, 19, 0.5);    
}
 nav{
    border: 2px solid black;
  border-radius: 10px;       
  padding: 16px;             
  background-color:#804300; 
 }
 .avantages-clients{
     border: 2px solid black;
  border-radius: 10px;       
  padding: 16px;             
  background-color: rgba(139, 69, 19, 0.5);
  
 }
.presentation img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.gourmande{
font-size: 20px;
}
.visage{
    width: 56px;
    height: 56px;
    border-radius: 100%;
    border: 2px solid black;
}
a{
    text-decoration: none;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.avantages-clients img{
display: flex;
justify-content: center;
}
.depimg{
    display: flex;
    justify-content: center;
}

h1 {
  font-size: 3rem;
  color: #d2691e;
}
p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1rem;
  color: #333;
}
 .Toubon{
    padding: 2%;
 }
.presentation{
    padding: 2%;
}




